/week1_frontend_fundamentals/lab/node_modules
/week2_react_development/lab/todo_app1/node_modules
lab_new/steps/step04_api_fetch/frontend/package-lock.json
lab_new/steps/step06_vite_react_basics/starter/package-lock.json
week2_react_development/lab/todo-app2/package-lock.json
/lab_new/full_system/backend/.venv
/lab_new/full_system/backend/.venv
/lab_new/full_system/backend/app/__pycache__
/lab_new/full_system/backend/app/routers/__pycache__
/week3_fastapi_backend/lab/backend/.venv
/week3_fastapi_backend/lab/backend/.venv
